<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>Voxelith</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>modrinth</string>
					<string>modrinthscheme</string>
				</array>
			</dict>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>Um mod do Minecraft quer acessar sua câmera.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Um mod do Minecraft quer acessar seu microfone.</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>O Minecraft ou um mod quer acessar a rede local.</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>asset.localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true />
					<key>NSIncludesSubdomains</key>
					<true />
				</dict>
				<key>textures.minecraft.net</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true />
					<key>NSIncludesSubdomains</key>
					<true />
				</dict>
			</dict>
		</dict>
	</dict>
</plist>
